.aboutTitle{
    font-weight: bold;
}

.uk-text-center {
        animation: fadeInLeft;
        animation-duration: 3s;
}


#about {

    border: 1px solid rgb(194, 78, 78);
    padding: 7%;
    border-radius: 20px;
}

#about-container {
    margin-top: 30px;
    margin-bottom: 100px;
    padding-top: 30px;
}

@media only screen and (min-width: 769px) {
    #about-container {
        margin-top: 130px; 
        width: 60%; 
        padding-left: 30%;
        padding-top: 120px;
      
    } 
}

@media only screen and (min-width: 500px) {
    #about-container {
        margin-top: 130px; 
        width: 60%; 
        padding-left: 30%;
        padding-top: 120px;
      
    } 
}
